
.input_text{
    margin-right: 0.25px;//300
    margin-bottom: 0rem;
    //margin-left: 10%;
    padding-left: 10%;
    color: black;
    font-size: 1.80rem;
    font-weight: 900;
}

.ant-image-img {
    width: 30rem;
    vertical-align: middle;
    height: 21rem;
    margin: 2rem;
    margin-left: 6rem;
}

.img_business{
    width: 30rem;
    vertical-align: middle;
    height: 21rem;
    margin: 2rem;
    margin-left: 6rem;
}

.ant-form input[type='file'] {
     display: inline-block; 
}