.ant-upload.ant-upload-drag{
    width: 86%;
    height: 100%;
    margin: 8%;
    margin-top: 2%;
}
.input_text{
    margin-right: 0.25px;//300
    margin-bottom: 0rem;
    //margin-left: 10%;
    padding-left: 10%;
    color: black;
    font-size: 1.80rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
