.home-content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.wrapper {
		max-width: 500px;
		// height: 500px;
		// min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			min-height: 500px;
		}
	}
}
