@import "./../../../../index.scss";
.labelL{
    margin-right: 0px;//300
    margin-bottom: 1rem;
    margin-left: auto;
    color: rgb(58, 49, 49);
    font-size: 0.95rem;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
	//	'Droid Sans', 'Helvetica Neue', sans-serif;
    &__card{
        font-size: 0.85rem;
        padding-left: 0%;
    }
    &__top{//font-family: 'Courier New', Courier, monospace;
        font-size: 1.8rem;
        padding-bottom: 20px;
        font-weight: bold;
        line-height: 1.5715;
    }
}
.ant-descriptions-bordered
.ant-descriptions-item-label  {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5715;
    text-align: start;
    background-color: #6fa2c06b;
    padding: 10px 20px;//16 24
    text-align: center;
}

.ant-descriptions-bordered
.ant-descriptions-item-content{
    padding: 10px 24px;
    border-right: 1px solid #f0f0f0;
    
}

.ant-descriptions-bordered
.ant-descriptions-view{
    border: 1px solid rgba(90, 111, 165, 0.85);
    //margin-right: 10%;
}
.ant-descriptions-bordered{
    margin: 3%;
}

.btn{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    &_edit{
        color: #1f2d3d;
        background-color: #ffc107;
        border-color: #ffc107;
        margin-left: 4%;
    }
    &_danger{
        margin-left: 65%;
    }
}

.text{
    margin-left: 4%
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 80%;//83.333333%;
    margin-left: auto!important;
    margin-right: auto!important;
    &__header{
        padding: .75rem 1.25rem;
        margin-bottom: 40px;
        background-color: rgba(8, 24, 66, 0.85);
        border-bottom: 0 solid rgba(6, 26, 80, 0.342);
        &__title{
            margin-bottom: .150rem;
            color: #fff;
            font-size: 1.75rem;
        }
    }
    &__footer{
        //text-align: right!important;
        padding: .75rem 1.25rem;
        background-color:  #fff;
        border-top: 0 solid rgba(0,0,0,.125);
    }

}

.label{
    margin-right: 0px;//300
    margin-bottom: 1rem;
    margin-left: 1%;
    color: black;
    font-size: 1.80rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    &__input{
        //text-align: right!important;
        padding-bottom: 2%;
        border-radius: .25rem;
        padding-left: 5%;
        margin-right: 1%;
        &_Text{
            right: -107px;
        }
    }
}

.btn_primary{
    background-color: rgba(8, 24, 66, 0.85);
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: .25rem;
    position: absolute;
    right: -228px;
    margin-bottom: 1rem;
}
.input-group{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.ant-modal{
    width: 672px!important;
    &-body{
        padding: 0px;
        padding-top: 10px;
    }
}
