@import '../../../../scss/index.scss';
.title-card {
	font-size: 1.5rem;
}
.register-form {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	@media (min-width: $media-breackpoint-up-sm) {
		width: 80%;
	}
	&__steps {
		// width: 80%;
		margin: 0 auto;
		padding: 20px 0;
	}
	.steps-content {
		border-radius: 2px;
		min-height: 200px;
		text-align: center;
		padding-top: 20px;
	}
	.ant-card-head {
		background-color: #1890ff;
		color: #fff;
	}
}
