.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 80%;//83.333333%;
    margin-left: auto!important;
    margin-right: auto!important;
    &__header{
        padding: .75rem 1.25rem;
        margin-bottom: 40px;
        background-color: rgba(8, 24, 66, 0.85);
        border-bottom: 0 solid rgba(6, 26, 80, 0.342);
        &__title{
            margin-bottom: .150rem;
            color: #fff;
            font-size: 1.75rem;
        }
    }
    &__footer{
        //text-align: right!important;
        padding: .75rem 1.25rem;
        background-color:  #fff;
        border-top: 0 solid rgba(0,0,0,.125);
    }

}

.label{
    margin-right: 0px;//300
    margin-bottom: 1rem;
    margin-left: 3%;
    color: black;
    font-size: 1.80rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    &__input{
        //text-align: right!important;
        padding-bottom: 2%;
        border-radius: .25rem;
        padding-left: 5%;
        &_Text{
            right: -200px;
        }
    }
}

.btn_primary{
    background-color: rgba(8, 24, 66, 0.85);
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: .25rem;
    position: absolute;
    right: -228px;
    margin-bottom: 1rem;
}
.input-group{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}