.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 83.333333%;
    margin-left: auto!important;
    margin-right: auto!important;
    &__header{
        padding: .75rem 1.25rem;
        margin-bottom: 40px;
        background-color: rgba(8, 24, 66, 0.85);
        border-bottom: 0 solid rgba(6, 26, 80, 0.342);
        &__title{
            margin-bottom: .150rem;
            color: #fff;
            font-size: 1.75rem;
        }
    }

}

.col-md-6{
    margin-right: 200px;
    margin-bottom: 1rem;
}

.btn_primary{
    background-color: rgba(8, 24, 66, 0.85);
    color: #fff;
    margin-right: 10px;
    border-radius: .25rem;
}
