.ant-drawer {
	&-header {
		display: flex;
		align-items: center;
		background-color: #001529;
		color: #fff;
		.anticon-close {
			color: #fff;
		}
	}
	&-body {
		background-color: #001529;
		padding: 0;
	}
	&-title {
		color: #fff;
	}
}
