@import '../../../scss/index.scss';
.list-users {
	&__header {
		.ant-card-body {
			h1 {
				margin: 0;
				width: 60%;
			}
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-switch {
			width: 40%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			> button {
				margin-right: 20px;
			}
		}
	}

	// .users-active {
	// 	background-color: $background-light;
	// 	padding: 10px 20px;

	// 	.ant-list-item-meta {
	// 		display: flex;
	// 		align-items: center;
	// 	}
	// }
}
