.ant-card-cover > * {
    display: block;
    width: 100%;
    padding: 10%;
    size: 0.5px;
}
.ant-card-body {
    padding-top: 0px;
    padding-left: 24px;
    padding-bottom: 18px;
    padding-right: 24px;
}
