@import '../../../../scss/index.scss';
.competition-new-form {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	@media (min-width: $media-breackpoint-up-sm) {
		width: 80%;
	}
	.ant-card-head {
		background-color: #1890ff;
		color: #fff;
	}
	&__register {
		.ant-form-item-label {
			label {
				font-weight: bold;
			}
		}
		.ant-picker {
			width: 100%;
		}
	}
}
